/* Fenix - Analysis Page */

#overlay {
  .close-overlay{
    height: 35px;
    width: 35px;
    background: url("img/icons-sprite.png") no-repeat -595px 0px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .fx-catalog-modular-menu-container {


  }
  .fx-catalog-modular-form-holder {

  }

}

.results-actions-container{
  .btn{
    margin: 0 5px;
  }

}


.fx-catalog-welcome{



  h1{
    font-size: 20px;
  }
}

.fx-dataset-details-container .fx-dataset-details{
  width: calc(100% - 100px);
}