/* Afghanistan Home */


.country-welcome{
  background-color: $afg-yellow;

}

.country-details{
  background-image: url(img/afg-home-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}